@using TicketDesk.Domain.Model
@model IEnumerable<UserTicketListSetting>
@{
    var currentListSettings = (UserTicketListSetting)ViewBag.CurrentListSettings;
}
<div class="row menulist">
    <ul class="nav nav-tabs navbar-right" role="tablist">
        @foreach (var list in Model)
        {
            var className = ((currentListSettings.ListName == list.ListName)) ? "active" : string.Empty;
            <li class="@className">

                @Html.ActionLink(list.ListDisplayName, "Index", new { ListName = list.ListName })
            </li>

        }
        
    
    </ul>
    
</div>
