@model  TicketCenterListViewModel

@using TicketDesk.Web.Client.Models

@section title{ Ticket Center}


<main>

    @Html.Partial("_ListMenu", Model.UserListSettings, new ViewDataDictionary
{
    { "CurrentListSettings", Model.CurrentListSetting }
})


    @Html.Partial("_TicketList", Model)
</main>

@section scripts{
    @Scripts.Render("~/bundles/ticketcenter")
    <script type="text/javascript">
       
        $(document).ready(function () {
            ticketCenter.filters.setupFilterForm();
            ticketCenter.makeClicky();
        });

    </script>
}


