@model  TicketCenterListViewModel

@using PagedList.Mvc;
@using PagedList;
@using TicketDesk.Web.Client.Models

@section title{ Ticket Center}


<h2>Ticket Center</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_ListMenu", Model.UserListSettings, new ViewDataDictionary
{
    { "CurrentListSettings", Model.CurrentListSetting }
})


@Html.Partial("_TicketList", Model)


@section scripts{
    <script type="text/javascript">

        var ticketCenter = (function(tc) {

            //root level features

            return tc;

        })(ticketCenter || {});


        //sub-module for filterbar features
        ticketCenter.filters = (function(tc) {
            //stuff
        })();


        //sub-module for sort features
        ticketCenter.sorts = (function () {
            var shiftstatus = false;


            var setShiftStatus = function (e) {
                if (e) {
                    shiftstatus = e.shiftKey;
                }
            };

            var beginChangeSort = function (event, args) {

                if (shiftstatus) {
                    args.url = args.url + "&isMultiSort=true";
                }
                $('#ticketList').fadeOut('fast');
            };

            var completeChangeList = function () {
                // Animate
                $('#ticketList').fadeIn('fast');

                //setupFilterForm();
            };
            return {
                setShiftStatus: setShiftStatus,
                beginChangeSort: beginChangeSort,
                completeChangeList: completeChangeList
            }
        })();
    </script>
}

@Html.PagedListPager((IPagedList)Model.Tickets, page => Url.Action("Index", new { page }))
