@model  TicketCenterListViewModel

@using TicketDesk.Web.Client.Models

@section title{ Ticket Center}


<main >

    @Html.Partial("_ListMenu", Model.UserListSettings, new ViewDataDictionary
{
    { "CurrentListSettings", Model.CurrentListSetting }
})


    @Html.Partial("_TicketList", Model)
</main>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            ticketCenter.filters.setupFilterForm();
            ticketCenter.makeClicky();
        });

        var ticketCenter = (function(tc) {
            tc.makeClicky = function () {
                $(".clickable").clickable();
            }

            tc.completeChangeList = function() {
                // Animate
                $('#ticketList').fadeIn('fast');
                tc.makeClicky();
                tc.filters.setupFilterForm();
            }

            return tc;

        })(ticketCenter || {});


        //sub-module for filterbar features
        ticketCenter.filters = (function(tc) {
            
            
            var beginChangeFilter = function(args) {

                $('#ticketList').fadeOut('fast');
            };

            var setupFilterForm = function () {
                $('.filterBar select').addClass('form-control input-sm');
                $('.pagination').addClass('pagination-sm');
                $("#filterSubmitButton").hide();
                $('select.postback').change(function() {
                    $('#filterSubmitButton').trigger('click');
                });
            };
            
            return {
                beginChangeFilter: beginChangeFilter,
                setupFilterForm: setupFilterForm
            }
        })();


        //sub-module for sort features
        ticketCenter.sorts = (function () {
            var shiftstatus = false;


            var setShiftStatus = function (e) {
                if (e) {
                    shiftstatus = e.shiftKey;
                }
            };

            var beginChangeSort = function (event, args) {

                if (shiftstatus) {
                    args.url = args.url + "&isMultiSort=true";
                }
                $('#ticketList').fadeOut('fast');
            };

            
            return {
                setShiftStatus: setShiftStatus,
                beginChangeSort: beginChangeSort,
            }
        })();
    </script>
}


