
/*
 TicketDesk - Attribution notice
 Original Code By:
       alilishan - http://bootsnipp.com/snippets/featured/form-process-steps

 Contributor(s):

      Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

 This file is distributed under the terms of the Microsoft Public 
 License (Ms-PL). See http://opensource.org/licenses/MS-PL
 for the complete terms of use. 

 For any distribution that contains code from this file, this notice of 
 attribution must remain intact, and a copy of the license must be 
 provided to the recipient.

*/


.td-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.td-wizard > .td-wizard-step {padding: 0; position: relative;}
.td-wizard > .td-wizard-step + .td-wizard-step {}
.td-wizard > .td-wizard-step .td-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.td-wizard > .td-wizard-step .td-wizard-info {color: #999; font-size: 14px;}
.td-wizard > .td-wizard-step > .td-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.td-wizard > .td-wizard-step > .td-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.td-wizard > .td-wizard-step.active > .td-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbe8aa; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.td-wizard > .td-wizard-step > .progress {position: relative; border-radius: 0; height: 8px; box-shadow: none; margin: 20px 0;}
.td-wizard > .td-wizard-step > .progress > .progress-bar {width:0; box-shadow: none; background: #fbe8aa;}
.td-wizard > .td-wizard-step.complete > .progress > .progress-bar {width:100%;}
.td-wizard > .td-wizard-step.active > .progress > .progress-bar {width:50%;}
.td-wizard > .td-wizard-step:first-child.active > .progress > .progress-bar {width:0;}
.td-wizard > .td-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.td-wizard > .td-wizard-step.disabled > .td-wizard-dot {background-color: #f5f5f5;}
.td-wizard > .td-wizard-step.disabled > .td-wizard-dot:after {opacity: 0;}
.td-wizard > .td-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.td-wizard > .td-wizard-step:last-child  > .progress {width: 50%;}
.td-wizard > .td-wizard-step.disabled a.td-wizard-dot{ pointer-events: none; }