@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <!--Start Angular 2-->
        <my-app>App Loading...</my-app>
        <!--End Angular 2-->
    </div>
</div>