@section title
{
    Database Configuration
}


<h2>Current Status:</h2>

<ul>

    <li>
        Db Empty = @ViewBag.IsDatabaseEmpty
    </li>
    <li>
        Db Is Legacy TicketDesk 2.1x database = @ViewBag.IsLegacyDatabase
    </li>
    <li>
        DB Is Ready = @ViewBag.IsDatabaseReady
    </li>
</ul>
