<div class="form-group form-group-sm" style="margin-bottom: 0;">
    <div class="input-group input-group-sm">
        <span class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                All Projects
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Not implemented yet</a></li>
                <li><a href="#">Showing all projets</a></li>
            </ul>
        </span>
    </div>
</div>
