<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" userInstalled="true" />
  <package id="Sendgrid" version="9.5.1" targetFramework="net462" userInstalled="true" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.3.0" targetFramework="net462" />
  <package id="SendGrid.SmtpApi" version="1.3.3" targetFramework="net462" userInstalled="true" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>