<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="MicrosoftWebMvc" version="2.0" />
  <package id="Mvc2Futures" version="2.0.50217.0" />
  <package id="MvcContrib" version="2.0.95.0" />
</packages>