<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>

    <add key="TicketSubmittersRoleName" value="TicketSubmitters"/>
    <add key="HelpDeskStaffRoleName" value="HelpDesk"/>
    <add key="AdministrativeRoleName" value="Administrators"/>
    <add key="SecurityMode" value="SQL" />

    <add key="IsDemo" value="true"/>

    <add key="CleanupPendingAttachmentsAfterHours" value="1"/>

    <add key="EnableEmailNotifications" value="true" />
    <add key="EmailServiceName" value="DefaultEmailHandler" />
    <add key="EmailNotificationInitialDelayMinutes" value="5" />
    <add key="EmailMaxConsolidationWaitMinutes" value="12" />
    <add key="EmailResendDelayMinutes" value="5" />
    <add key="EmailMaxDeliveryAttempts" value="5" />

    <!-- the pattern's placeholder is the ticketID -->
    <add key="WebUrlPatternForEmailLinks" value="http://localhost/ticket/{0}" />
    <add key="FromEmailDisplayName" value="TicketDesk" />
    <add key="FromEmailAddress" value="ticketdesk@ticketdesk.com" />
    <add key="BlindCopyToEmailAddress" value="" />

  </appSettings>
  <connectionStrings>
    <clear />
    <add name="TicketDeskSecurityConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TicketDeskSecurity.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="TicketDeskEntities" connectionString="metadata=res://*/Models.TicketDeskEntities.csdl|res://*/Models.TicketDeskEntities.ssdl|res://*/Models.TicketDeskEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TicketDesk.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <trust level="Full"/>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership defaultProvider="TicketDeskSqlMembershipProvider">
      <providers>
        <clear />
        <add name="TicketDeskSqlMembershipProvider" connectionStringName="TicketDeskSecurityConnectionString" applicationName="TicketDesk" passwordFormat="Clear" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="TicketDeskSqlRoleProvider">
      <providers>
        <clear />
        <add name="TicketDeskSqlRoleProvider" connectionStringName="TicketDeskSecurityConnectionString" applicationName="TicketDesk" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <profile defaultProvider="TicketDeskSqlProfileProvider">
      <providers>
        <clear />
        <add name="TicketDeskSqlProfileProvider" connectionStringName="TicketDeskSecurityConnectionString" applicationName="TicketDesk" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="UserDisplayPreferences" type=" TicketDesk.Domain.Models.UserDisplayPreferences"/>
        <add name="OpenEditorWithPreview" type="bool" defaultValue="true"/>
        <add name="EditorMode" type="int" defaultValue="2"/>
      </properties>
    </profile>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="256000000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

