<div id="externalloginfailure">
    <div class="container">
        <div class="page-header">
            <h1>External login failure</h1>
        </div>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Could not authenticate </strong>using your credentials. Try later and if the problem persists <a data-bind="attr: { href: convertRouteToHash('/home/about') }">contact us</a>
        </div>
    </div>
</div>
