<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.5" targetFramework="net462" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" userInstalled="true" />
  <package id="bootstrap" version="3.3.6" targetFramework="net462" userInstalled="true" />
  <package id="Bootstrap.Datepicker" version="1.3.0" targetFramework="net462" />
  <package id="cldrjs" version="0.4.1" targetFramework="net462" userInstalled="true" />
  <package id="CsQuery" version="1.3.4" targetFramework="net462" userInstalled="true" />
  <package id="dropzone" version="4.2.0" targetFramework="net462" userInstalled="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net462" userInstalled="true" />
  <package id="FontAwesome" version="4.4.0" targetFramework="net462" userInstalled="true" />
  <package id="HtmlSanitizer" version="3.2.103" targetFramework="net462" userInstalled="true" />
  <package id="jQuery" version="2.2.2" targetFramework="net462" userInstalled="true" />
  <package id="jQuery.Validation" version="1.16.0" targetFramework="net462" userInstalled="true" />
  <package id="jQuery.Validation.Globalize" version="1.0.1" targetFramework="net462" userInstalled="true" />
  <package id="jquery-globalize" version="0.1.0" targetFramework="net462" userInstalled="true" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.4.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" userInstalled="true" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.12" targetFramework="net462" userInstalled="true" />
  <package id="Modernizr" version="2.8.3" targetFramework="net462" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net462" userInstalled="true" />
  <package id="Pagedown.Bootstrap.FontAwesome" version="1.0.4" targetFramework="net462" userInstalled="true" />
  <package id="Postal.Mvc5" version="1.2.0" targetFramework="net462" userInstalled="true" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net462" userInstalled="true" />
  <package id="Select2.js" version="3.5.2" targetFramework="net462" userInstalled="true" />
  <package id="Sendgrid" version="9.5.1" targetFramework="net462" />
  <package id="SimpleInjector" version="4.0.8" targetFramework="net462" userInstalled="true" />
  <package id="SimpleInjector.Integration.Web" version="4.0.8" targetFramework="net462" userInstalled="true" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="4.0.8" targetFramework="net462" userInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net462" userInstalled="true" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" userInstalled="true" />
  <package id="X.PagedList" version="1.24.1.320" targetFramework="net462" userInstalled="true" />
  <package id="X.PagedList.Mvc" version="4.9.1.310" targetFramework="net462" userInstalled="true" />
</packages>