<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <!-- 
      For Azure search and storageyou can either define connection strings in 
      web.config, or (preferably) setup the connection strings through the 
      Azure portal in your site's settings. 
      
      Several services in TicketDesk can leverage Azure Storage, and all are setup 
      to use the same connection name. 
      
      Alternately, you can use keys in appSettings instead of connection strings 
      for these Azure services.
      
      It would be better to define the connction and/or appSettings through the Azure portal 
      in your site's settings. 
      
      For search, using appSettings is a better choice only if you plan install the website 
      extension for reddog-search-portal, since that Azure WebSite extensions can only use 
      values from appSettings anyway. 
      
      The advantage to connection strings over appSettings that the security is 
      better for connection strings, and they can be encrypted if you prefer.
      
      Here is the format for the connection strings:
      
        <add name="AzureSearch"  connectionString="ServiceName=[name of you azure search service];ApiKey=[your api key]" xdt:Locator="name" xdt:Transform="insert"/>
        <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=[your storage account name];AccountKey=[your storage account key]"/>

      Example: 
      
        <add name="AzureSearch" connectionString="ServiceName=mysearchservice;ApiKey=4B564C046ACC69901A91E474F85D8A8A" />
        <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ticketdesk2store;AccountKey=hfIydlsx/yzB9LXgW86wbTW2cE580LMm7AUQyGZw0T8fHp7fkn+oizipxy9zok8QyYQ0309e4UTY/1T1mD4IA=="/>
      
    -->
    <!-- 
    
      The webjobs will use the AzureStorage connection string for access to storage and writing to the
      dashboard, however; if you want to be able to use the actual Azure WebJobs dashboard then it 
      requires this connection string to be present anyway.
      
      It would be better to define this connction through the Azure portal in your site's settings instead. 
      
        <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ticketdesk2store;AccountKey=hfIydlsx/yzB9LXgW86wbTW2cE580LMm7AUQyGZw0T8fHp7fkn+oizipxy9zok8QyYQ0309e4UTY/1T1mD4IA=="/>

    
    -->
    
  </connectionStrings>
  <appSettings>
    <!--
      For Azure Search, you can define connection info here, or as a connectin string (see connection strings for more details)
    
        <add key="Azure.Search.ServiceName" value="mysearchservice" xdt:Locator="name" xdt:Transform="insert" />
        <add key="Azure.Search.ApiKey" value="4B564C046ACC69901A91E474F85D8A8A" xdt:Locator="name" xdt:Transform="insert"/>
    -->
    <!-- 
      For Azure Storage and Azure WebJobs, you can define connection info here, or as a connection string (see connection strings for more details)
      
        <add key="AzureStorage" value="DefaultEndpointsProtocol=https;AccountName=ticketdesk2store;AccountKey=hfIydlsx/yzB9LXgW86wbTW2cE580LMm7AUQyGZw0T8fHp7fkn+oizipxy9zok8QyYQ0309e4UTY/1T1mD4IA=="/>

    -->
    
    <!--
    If you want to collect application insights data for your site, add this key and 
    supply the appropriate insturmentation key for your azure site. It would be best 
    to define this in application settings within the azure portal instead.
    
    <add key="ticketdesk:InsightsInstrumentationKey" value="b27f9308-0x00-4c8c-9609-0a7c47256a7d"/>
    -->
  </appSettings>

  <system.web>
   
  </system.web>
  <system.webServer>
   
  </system.webServer>
</configuration>