@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title
{
    Create Database
}
<div class="contentContainer">
    <h2>Create Database</h2>
    <p>
        No database detected. Would you like to create a new TicketDesk 2.5 Database now?

    </p>
    <div>@Html.ActionLink("Create Now", "CreateNow")</div>
    <p>
        @if (ViewBag.DbCreated ?? false)
        {
            <span>Created</span>
        }

        @if (!(ViewBag.DbCreated ?? false))
        {
            <span>Not yet</span>
        }
    </p>
</div>