@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@section title
{
    Upgrade Database
}
<div class="contentContainer">
    <h2>Upgrade Database</h2>
    <p>
        Legacy TD2.1x database detected. Would you like to upgrade this database now?
    </p><p>
        Make sure you have a backup of this database before proceeding
    </p>

    <p>
        @if (ViewBag.DbUpgraded ?? false)
        {
            <span>Upgraded</span>
        }
        else
        {

            <span>Not Upgraded</span>
            <div>@Html.ActionLink("Upgrade Now", "UpgradeNow")</div>
        }
    </p>
    <p>
        @if (ViewBag.UsersMigrated ?? false)
        {
            <span>Migrated</span>
        }
        else
        {
            <span>Not Migrated</span>
            <div>@Html.ActionLink("Migrate Users Now", "MigrateMembershipToIdentity")</div>
        }
        
    </p>
</div>
