<div class="table-responsive">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>
                    <input type="checkbox" [checked]="isAllChecked()" (change)="selectAll($event)"> </th>
                <th *ngFor="let heading of colHeadings">{{ heading }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of displayList">
                <td>
                    <input  type="checkbox" [(checked)]="row.checked"> </td>
                <td routerLink="/ticket/{{row.ticket.ticketId}}">
                    <button type="button" class="btn btn-primary"> {{ row.ticket.ticketId }}</button>
                </td>
                <td routerLink="/ticket/{{row.ticket.ticketId}}"> {{ row.ticket.title }} </td>
                <td *ngFor="let col of displayCols"> {{row.ticket.col}} </td>
            </tr>

        </tbody>
        <!-- Pagination goes here !-->
    </table>
    <div>maxSize = {{ ticketListResults.maxPages }}, rotate = true</div>
    <ngb-pagination [collectionSize]=ticketListResults.maxPages*10 [(page)]="currentPage" [maxSize]="5" [rotate]="true"></ngb-pagination>
    <ul>
        <li *ngFor="let ticket of ticketListResults.ticketList"> {{ticket.ticketId}} </li>
    </ul>
</div>