<div class="table-responsive">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th> <input  type="checkbox" [checked]="checkAll()"  (change)="selectAll()"> </th>
                <th>TicketID</th>
                <th *ngFor = "let heading of headingsList">{{heading}}</th>
            </tr>
        </thead>
        <tbody>
		<tr *ngFor="let row of ticketListResults.ticketList"> 
                    <td> 
                        <input type="checkbox" [checked]="isChecked(row)"   (change)="checkboxSelect(row)">  </td>
                    <td routerLink="/ticket/{{row.ticketId}}"><button type="button" class="btn btn-primary"> {{row.ticketId}}</button>  </td>
		    <td routerLink="/ticket/{{row.ticketId}}"> {{row.title}} </td>
                    <td> {{row.status}} </td>
                    <td> {{row.priority}}  </td>
                    <td> {{row.owner}} </td>
                    <td> {{row.assignedTo}} </td>
                    <td> {{row.category}}  </td>
                    <td> {{row.createdDate}}</td>
                </tr>
                
        </tbody>
        
        <!-- Pagination goes here !-->
    </table>
    <ul>
        <li *ngFor="let sel of selected">{{sel.title}}</li>
    </ul>
    
    <div>maxSize = {{ticketListResults.maxPages}}, rotate = true</div>
    <ngb-pagination [collectionSize]=ticketListResults.maxPages*10 [(page)]="currentPage" [maxSize]="5" [rotate]="true"></ngb-pagination>
</div>
