<div class="table-responsive">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>
                    <input type="checkbox" [checked]="isAllChecked()" (change)="selectAll($event)"> </th>
                <th *ngFor="let heading of colHeadings" (click)="headerSort(heading)">
                     {{ heading.header }}
                     <i class="fa fa-fw fa-sort" *ngIf="heading.direction === 'sortable'"></i>
                     <i class="fa fa-chevron-up" *ngIf="heading.direction === 'asc'" ></i>
                     <i class="fa fa-chevron-down" *ngIf="heading.direction === 'desc'"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of displayList">
                <td> <input  type="checkbox" [(checked)]="row.checked"> </td>
                <td routerLink="/ticket/{{row.ticket.ticketId}}">
                  <button type="button" class="btn btn-primary"> {{ row.ticket.ticketId }}</button>
                </td>
                <td routerLink="/ticket/{{row.ticket.ticketId}}"> {{ row.ticket.title }} </td>
                <td>{{ getStatusText(row.ticket.status) }} </td>
                <td>{{ row.ticket.priority }}</td>
                <td>{{ row.ticket.ownerId }}</td>
                <td>{{ row.ticket.assignedTo }}</td>
                <td>{{ row.ticket.category }}</td>
                <td>{{ row.ticket.subcategory }}</td>
                <td>{{ row.ticket.createdDate }}</td>
                <td>{{ row.ticket.lastUpdateDate }}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination *ngIf="pagination"
        class="d-flex justify-content-center"
        [collectionSize]=pagination.max*10
        (pageChange)="onPageChange($event)"
        [(page)]="pagination.current"
        [maxSize]="5"
        [rotate]="true">
    </ngb-pagination>
</div>