@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@model IEnumerable<TicketDesk.Domain.Model.Ticket>

@section title{
    Ticket Search
}

<h2>Ticket Search</h2>
@foreach (var item in Model)
{
    <article>
        @Html.DisplayNameFor(model => model.TicketId) : @Html.DisplayFor(modelItem => item.TicketId)
        <br/>
        @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(modelItem => item.Title)
    </article>
    <hr/>
}

  