@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@if (User.Identity.IsAuthenticated && User.IsInRole("TdAdministrators"))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-gears"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                @Html.ActionLink("Application Settings", "Index", "ApplicationSettings")
            </li>
            <li>
                @Html.ActionLink("Push Notification Settings", "Index", "PushNotificationSettings")
            </li>
            <li>
                @Html.ActionLink("Demo Data Management", "Demo", "DataManagement")
            </li>
            <li>
                @Html.ActionLink("Search Management", "Index", "SearchManager")
            </li>
        </ul>
    </li>
}
