<div class="col-xs-10" style="height:30px;"></div>
<div class="card">
	<div class="card-block">
		<h6 class="card-header">
			<b>Ticket Details</b>
    </h6>
		<div class ="container">
			<form class="form-group" [formGroup]="form">
        
        &nbsp;
				<div class="form-group row">
					<div class="col-md-3">
						<label for="ticketType">Ticket Type</label>
						<select formControlName="ticketType"  class="form-control">
							<option *ngFor="let typ of ticketTypes" [value]="typ">{{ typ }}</option>
						</select>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-5">
						<label for="category">Category</label>
						<select formControlName="category"  class="form-control">
							<option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
						</select>
					</div>
					<div class="col-md-5">
						<label for="subcategory">Subcategory</label>
						<select formControlName="subcategory"  class="form-control">
							<option *ngFor="let subcat of displayedSubcategories" [value]="subcat">{{ subcat }}</option>
						</select>
					</div>
				</div>
        
        <div class="form-group row">
            <div class="col-md-5">
              <input formControlName="title" placeholder="Title" class="form-control">
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-xl-10">
              <textarea formControlName="details" rows="7" placeholder="Description" class="form-control"></textarea>
            </div> 
          </div>
    

				<div class="form-group row">
					<div class="col-md-4">
						<app-attach-file></app-attach-file>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="card-footer text-muted">
    <button class="btn btn-primary pull-right" [disabled]="this.form.invalid" type="button" (click)="ticketEmit()">{{ buttonText }}</button>
	</div>
</div>

