<form [formGroup]="form" class="row">
	
	<div class="col-md-5">
	      <label for="category">Category</label>
	      <select formControlName="category">
		      <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
	      </select>
	      <label for="subcategory">Subcategory</label>
	      <select formControlName="subcategory">
		      <option *ngFor="let subcat of displayedSubcategories" [value]="subcat">{{subcat}}</option>
	      </select>
	</div>	
	
	<div class="col-md-5">
	      <input formControlName="title" placeholder="Title">
	      <textarea formControlName="details" placeholder="Description"></textarea>
	</div>
	<div class="col-md-2">
<app-attach-file></app-attach-file>
	<button type="button" (click)="submit()">Submit</button>
	</div>
</form>
<p>
this might show something: {{ form.value | json }}
</p>
