<?xml version="1.0" encoding="utf-8"?>

<!-- This is an example of a config transform specifically used by an azure deployment profile. The publish profile would be named ticketdesk3dev -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  key="Microsoft.ServiceBus.ConnectionString"
          value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace" />

  </system.web>
</configuration>