<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-bind="attr: { href: router.convertRouteToHash('/' + router.navigationModel()[0].hash) }" data-i18n="[class]appuitext:cssNavLogo"></a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse" style="height: 0px;">
        <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }">
                <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: typeof(appsecurity.userInfo()) == 'undefined'">
            <li>
                <a data-bind="attr: { href: router.convertRouteToHash('/account/login') }"><i class="fa fa-lock">&nbsp;<span data-i18n="appuitext:navAccountLogin"></span></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: !(typeof(appsecurity.userInfo()) == 'undefined')">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp;<span data-bind="text: appsecurity.userInfo().name"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header" data-i18n="appuitext:navAccountMenuOptions"></li>
                    <li><a data-bind="attr: { href: router.convertRouteToHash('/account/manage') }"><i class="fa fa-user-md"></i>&nbsp;<span data-i18n="appuitext:navAccountMenuManageUser"></span></a></li>
                    <li data-bind="visible: appsecurity.isUserInRole(['Administrator'])" class="divider"></li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrator'])" role="presentation" class="dropdown-header" data-i18n="appuitext:navAccountMenuAdministration"></li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrator'])"><a data-bind="    attr: { href: router.convertRouteToHash('/admin/panel') }"><i class="fa fa-users"></i>&nbsp;<span data-i18n="appuitext:navAccountMenuAdminPanel"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-bind="click: logout"><i class="fa fa-lock"></i>&nbsp;<span data-i18n="appuitext:navAccountLogout"></span></a></li>
                </ul>
            </li>
        </ul>
      
             
    </div>
</nav>