<header class="page-header">
    <h1 data-bind="text: title"></h1>
</header>
<section id="content" class="container col-md-12">
    <iframe class="col-md-12" id="loginTarget" src="/account/loginform" seamless="seamless" style="overflow:hidden;height:0px;" frameborder="0"> </iframe>
    <form action="api/useraccount/logindummy">
        <div class="panel panel-default" data-bind="event: { keypress: keyMonitor }">
            <div class=" btn-toolbar panel-heading">
                <div class="btn-group btn-group-sm">
                    <button id="loginbutton" class="btn btn-primary btn-sm" data-bind="click: doLogin" data-i18n="appuitext:viewLoginLoginButtonLabel"></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label" for="username" data-i18n="appuitext:viewLoginUserNameFieldLabel">: </label>
                        <div class="col-md-3 col-sm-3">
                            <input class="form-control input-sm" id="username" name="username" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2  control-label" for="password" data-i18n="appuitext:viewLoginPasswordFieldLabel">: </label>
                        <div class="col-md-3 col-sm-3">
                            <input class="form-control input-sm" id="password" name="password" type="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2">
                            <label class="checkbox" for="rememberme">
                                <input class="" type="checkbox" id="rememberme" checked="checked" />
                                <!--ko text: $.i18n.t('appuitext:viewLoginRememberMeFieldLabel') -->
                                <!--/ko-->

                            </label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</section>
