<div id="notfound">
    <div class="container">
        <div class="page-header">
            <h1>Oooooops!!   <small>couldn´t find what you are looking for</small></h1>
        </div>
        <h3>There isn´t any page on this site with the url you provided, perhaps you are trying to get the ...</h3>
        <ul class="list-unstyled mart2">
            <li><a href="#" data-bind="attr: { href: convertRouteToHash('/') }" class="lead">The home page</a></li>
            <li><a href="#" data-bind="attr: { href: convertRouteToHash('/account/manage') }" class="lead">Managing your account</a></li>
        </ul>
    </div>
</div>