<section id="tickets-view" style="overflow-x: hidden;" class="view">
    <header>
        <a class="btn btn-info btn-force-refresh pull-right"
            data-bind="click: refresh" href="#"><i class="icon-refresh"></i>Refresh</a>
        <h2 class="page-title" data-bind="text: title"></h2>
        <div class="article-counter">
            <address data-bind="text: rowCount()"></address>
            <address>found</address>
        </div>
        <div class="pager">
            <ul>
                <li class="previous" data-bind="css:{ disabled: !canPrev()}">
                    <a href="#" data-bind="click: previous, clickBubble: false"><i class="icon-angle-left"></i> Previous</a>
                </li>
                <li>Page <!--ko text: currentPage --><!--/ko--> of  <!--ko text: maxPage --><!--/ko--></li>
                <li class="next" data-bind="css: { disabled: !canNext() }">
                    <a href="#" data-bind="click: next, clickBubble: false">Next <i class="icon-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="view-list" data-bind="template: { foreach: tickets, beforeRemove: hideTicketElement, afterAdd: showTicketElement, afterRender: ticketItemsRendered }">
        <article class="ticket-brief article-left-content" title="Go to ticket details"  data-bind="ticketChanged: lastUpdateDate">
            <header class="row-fluid">
                <div class="inline pull-left" style="margin: 0 15px 0 0;">
                    <h1>Ticket #<!--ko text: ticketId --><!--/ko-->
                        <!--ko text: category -->
                        <!--/ko-->
                        <!--ko text: ticketType -->
                        <!--/ko-->
                    </h1>
                    <h2>
                        <!--ko text: title -->
                        <!--/ko-->
                    </h2>
                    <address class="muted">
                        <p>
                            Owner:
                            <!--ko text: owner || 'none' -->
                            <!--/ko-->
                        </p>
                        <p>
                            Assigned:
                            <!--ko text: assignedTo() || 'unassigned' -->
                            <!--/ko-->
                        </p>
                    </address>

                </div>
                <div class="pull-right muted">
                    <p>
                        <!--ko text: currentStatus -->
                        <!--/ko-->
                        -
                        <!--ko text: priority -->
                        <!--/ko-->
                        priority
                    </p>
                    <p>
                        Created on
                        <!--ko text: moment(createdDate()).format('lll') -->
                        <!--/ko-->
                    </p>
                    <p>
                        Updated on  
                        <!--ko text: moment(lastUpdateDate()).format('lll') -->
                        <!--/ko-->
                    </p>
                </div>

            </header>

        </article>
 
    </section>

</section>
