<section id="session-view" class="view">
    <h2 class="page-title" data-bind="text: title"></h2>
    <div class="button-bar btn-block">
        <button class="btn btn-info"
            data-bind="click: goBack">
            <i class="icon-hand-left"></i> Back</button>
        <button class="btn btn-info"
            data-bind="click: cancel, enable: canSave">
            <i class="icon-undo"></i> Cancel</button>
        <button class="btn btn-info"
            data-bind="click: save, enable: canSave">
            <i class="icon-save"></i> Save</button>
        <!--        <button class="btn btn-danger"
            data-bind="click: deleteSession, disable: hasChanges">
            <i class="icon-trash"></i>Delete
        </button>-->
        <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
    </div>
    <div class="form-horizontal" data-bind="with: ticket">
        <div>
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" data-bind="value: title"
                        placeholder="Ticket title" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="category">Status</label>
                <div class="controls">
                    <select id="ticketStatus" data-bind="options: $parent.statusList, optionsText: 'name',
                        optionsValue: 'value', value: ticketStatus, optionsCaption: '--select--'">
                    </select>
                </div>

            </div>

            <div class="control-group">
                <label class="control-label" for="category">Category</label>
                <div class="controls">
                    <select id="category" data-bind="options: $parent.categoryList, optionsText: 'value',
                        optionsValue: 'value', value: category, optionsCaption: '--select--'">
                    </select>
                </div>

            </div>
            <div class="control-group">
                <label class="control-label" for="ticketType">Type</label>
                <div class="controls">
                    <select id="ticketType" data-bind="options: $parent.ticketTypeList, optionsText: 'value',
                        optionsValue: 'value', value: ticketType, optionsCaption: '--select--'">
                    </select>
                </div>

            </div>
            <div class="control-group">
                <label class="control-label" for="priority">Priority</label>
                <div class="controls">
                    <select id="priority" data-bind="options: $parent.priorityList, optionsText: 'value',
                        optionsValue: 'value', value: priority, optionsCaption: '--select--'">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tagList">Tags</label>
                <div class="controls">
                    <input type="text" id="tagList" data-bind="value: tagListFormatted" placeholder="tag1,tag2" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="owner">Owner</label>
                <div class="controls">
                    <input type="text" id="owner" data-bind="value: owner" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="assignedTo">Assigned To</label>
                <div class="controls">
                    <input type="text" id="assignedTo" data-bind="value: assignedTo"
                        placeholder="person name" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" for="affectsCustomer">
                        <input type="checkbox" id="affectsCustomer" data-bind="checked: affectsCustomer" />Affects Customer</label>
                </div>
            </div>

        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea id="description" style="width: 100%; min-height: 300px;"
                    data-bind="value: details"
                    placeholder="Enter description"></textarea>
            </div>
        </div>
    </div>

</section>
