<div class="col-xs-12" style="height:30px;"></div>
<div class="container" *ngIf="ticket">
  <div class="card">
    <div class="card-header">
      <div class="row"> 
        <div class="col-lg-2 colBorder">
          <h6 *ngIf="ticketIsOpen(); else closedTicket" class="card-title">Active   
            <span class="fa fa-envelope-open" 
              aria-hidden="true"></span>
          </h6> 
          <ng-template #closedTicket class="card-title">Closed
              <span class="fa fa-envelope" 
              aria-hidden="true"></span>
          </ng-template>
          <h6 class="card-title">
            <a href="ticket/{{ ticket.ticketId }}">
              {{ ticket.ticketId }}
            </a>
          </h6>
        </div>
        <div class="col-lg-2 colBorder">
          <h6 class="card-title">Assigned To:</h6>
          <h6 class="card-subtitle mb-2">
            {{ ticket.assignedTo }}
          </h6>
        </div>
        <div class="col-lg-3 colBorder">
          <app-contact-info [userName]="ticket.owner"></app-contact-info>
        </div>
        <div class="col-lg-2 colBorder">
          <h6 class="card-title">Categories</h6>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ ticket.category }}
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ ticket.subcategory }}
          </h6>
        </div>
        <div class="col-lg-3">
          <h6 class="card-subtitle mb-2 text-muted">
            {{ ticket.tagList }}
          </h6>
        </div>
      </div>
    </div>
    <ngb-tabset #t="ngbTabset">
      <ngb-tab id="tab-selectbyid1" title="Ticket">
        <ng-template ngbTabContent>
          <div class="card cardBorder">
            <div class="card-body">
              <h4 class="card-title">{{ ticket.title }}</h4>
              <div class="text-muted small">{{ ticket.createdDate }}</div>
              <p class="card-text">{{ ticket.details }}</p>
              <app-ticket-action-box [ticket]="ticket" [permissions]="ticketActionPermissions"></app-ticket-action-box>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-selectbyid2" title="Activity">
        <ng-template ngbTabContent>
          <app-activity-log></app-activity-log>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>  
</div>
