/**/
@media screen {
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: normal;
  src: local('Calibri'), url('calibri.ttf') format('truetype');
}
}

body
{
    background-color: #F7F7F7;
    font-size: 11pt;
    font-family: Calibri, Tahoma, Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #555;
}



a, a *
{
    color: #14498D;
    padding: 2px;
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    -webkit-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
    -moz-transition: color 0.35s linear;
    -o-transition: color 0.35s linear;
    -webkit-transition: color 0.35s linear;
    transition: color 0.35s linear;
}

a:hover, a:hover *
{
    background-color: #999999;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #335;
}


a.noLink, a.noLink *
{
}
a.noLink:hover, a.noLink:hover *
{
    background-color: transparent;
}


p, ul
{
    line-height: 1.4em;
}

img
{
    border: 0;
}


.historyArea pre
{
    max-width: 800px;
}
pre
{
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    min-height: 35px;
    overflow: auto;
    max-width: 600px;
    padding: 5px;
    background-color: #eee;
}
code
{
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    background-color: #eee;
    padding: 1px 5px 1px 5px;
    font-size: 9pt;
}

/* HEADINGS   
----------------------------------------------------------*/
h1
{
    font-size: 2em;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5
{
    font-size: 1em;
}
h6
{
    font-size: 0.9em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    margin-bottom: 0px;
    color: #000;
    padding: 0px 20px 0px 20px;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #1C3D60;
    border: none;
    font-family: Calibri, Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 32px !important;
}

#main
{
    border-top: solid 6px #134A8A;
    margin: 5px 0px 30px 0px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    margin: 0;
    text-align: right;
    padding: 0;
}

ul#menu li
{
    display: inline;
    list-style: none;
    margin-right: 2px;
}

ul#menu li.selectedMenuItem a
{
     background-color: #2C7DE2;
    color: #fff;
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    -webkit-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
    padding: 7px 14px;
    font-weight: bold;
    text-decoration: none;
}

ul#menu li#greeting
{
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul#menu li a
{
    background-color: #134A8A;
    color: #fff;
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    -webkit-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
    padding: 7px 14px;
    font-weight: bold;
    text-decoration: none;
}

ul#menu li a:hover
{
    background-color: #999999;
    text-decoration: none;
}




/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"]
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

*/
/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 15px;
}

div#title
{
    width: 240px;
    vertical-align: bottom;
    display: block;
    float: left;
    padding: 0px;
}

#logindisplay
{
    font-size: 10pt;
    display: block;
    text-align: right;
    margin: 10px;
    color: #1C3D60;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.jsGuide, .jsGuide:link, .jsGuide:visited
{
    text-decoration: none;
}

.jsClickable
{
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    -webkit-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
    -moz-transition: color 0.35s linear;
    -o-transition: color 0.35s linear;
    -webkit-transition: color 0.35s linear;
    transition: color 0.35s linear;
    cursor: pointer;
}
.jsClickableHover, .jsClickable:hover
{
    color: #FFFFFF;
    background-color: #999999;
    text-shadow: 1px 1px 1px #335;
}

.ticketListGrid .jsClickableHover a, .ticketListGrid .jsClickable:hover a
{
    color: #FFFFFF;
}

/* TD Specific Styles
----------------------------------------------------------*/


.contentContainer
{
    width: 95%;
    margin: auto;
}
.displayContainerOuter, .displayContainerOuterHome
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #B3CBDF;
}
.displayContainerInner, .displayContainerInnerHome
{
    background-color: #fff;
    border: solid 2px #B3CBDF;
}



.activityHeadWrapper
{
    background-color: #D2E0EC;
    border-bottom: solid 2px #B3CBDF;
}

.activityHead
{
    font-weight: bold;
    color: #0B294F;
    padding: 4px;
}

.activityBody
{
    background-color: #fff;
    padding: 3px 3px 8px 3px;
}
.searchArea
{
    margin: 0px 0px 5px 0px;
    font-size: 9pt;
}


.searchButton
{
    font-family: Calibri, Tahoma, Verdana, Helvetica, Sans-Serif;
    padding: 1px 2px 1px 2px;
    border: 1px ridge #999999;
    color: #333;
    background-color: #EBEBEB;
    text-decoration: none;
    text-align: center;
}

.activityButton, input.activityButton
{
    font-family: Calibri, Tahoma, Verdana, Helvetica, Sans-Serif;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px ridge #999999;
    color: #333;
    background-color: #EBEBEB;
    text-decoration: none;
    text-align: center;
}

a:link.activityButton, a:visited.activityButton, a:active.activityButton
{
    color: #333;
    text-decoration: none;
}


.activityButton:hover, .searchButton:hover, div.activityButton.hover
{
    background-color: #999999;
}

.expanderButton
{
    cursor: pointer;
    text-align: center;
    background-image: url('expandDown.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    background-color: #EBEBEB;
}
.expanderButton:hover
{
    background-color: #999999;
    background-image: url('expandDownActive.png');
}

.collapserButton
{
    cursor: pointer;
    text-align: center;
    background-image: url('collapseUp.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    background-color: #EBEBEB;
}

.collapserButton:hover
{
    background-color: #999999;
    background-image: url('collapseUpActive.png');
}


/* SimpleTip's Default class*/
.tooltip
{
    position: absolute;
    padding: 5px 8px;
    z-index: 2;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #DECA7E;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

/* TD Grid */
.ticketListGridOddRow
{
    background-color: #FBFCFD;
}

.ticketListGridEvenRow
{
    /*background-color: #ECFBEA;*/
}

.ticketFilterBar
{
    padding: 5px;
    border-bottom: solid 1px #B3CBDF;
    background-color: #E1EBF2;
}

table.ticketListGrid
{
    font-size: 10pt;
    border: solid 1px #B3CBDF;
    border-collapse: collapse;
}

table.ticketListGrid td
{
    padding: 3px;
    border: solid 1px #B3CBDF;
    white-space: nowrap;
}

table.ticketListGrid th
{
    font-size: 9pt;
    white-space: nowrap;
    height: 22px;
    vertical-align: bottom;
    padding: 4px;
    text-align: center;
    background-color: #FFFFDD;
    border: solid 1px #B3CBDF;
    font-weight: normal;
}

table.ticketListGrid th a
{
    text-decoration: none;
}


ul#submenu
{
    padding: 0;
    margin: 0;
}

ul#submenu li
{
    display: inline;
    list-style: none;
    margin-right: 4px;
}



ul#submenu li a
{
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    -webkit-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
    padding: 5px 8px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2em;
    background-color: #E8EEF4;
    color: #14498D;
    border-top: solid 2px #B7CEED;
    border-left: solid 2px #B7CEED;
    border-right: solid 2px #B7CEED;
}

ul#submenu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#submenu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#submenu li.selected a
{
    background-color: #ECFBEA;
    color: #14498D;
    border-top: solid 2px #14498D;
    border-left: solid 2px #14498D;
    border-right: solid 2px #14498D;
}

/* MvcPaging Classes */
.pageNumbers
{
    display: inline;
    margin: 0px;
}
.pageNumbers li
{
    display: inline;
    padding: 3px;
}
.selectedPageNumber
{
    font-weight: bold;
    text-decoration: none;
}

/* TD Form Layout*/

.formatTable
{
}

.formatTable tbody tr th
{
    text-align: right;
    padding: 10px 2px 2px 2px;
    color: #134A8A;
    vertical-align: top;
    white-space: nowrap;
    font-weight: normal;
}

.formatTable tbody tr td
{
    padding: 8px 2px 2px 2px;
    vertical-align: top;
}

.formatTable tbody tr td.textField
{
    padding: 10px 2px 2px 2px;
}


.statsTable
{
}

.statsTable tbody tr th label
{
    
}

.statsTable tbody tr th
{
    text-align: right;
    padding: 2px;
    color: #134A8A;
    vertical-align: top;
    white-space: nowrap;
    font-weight: normal;
}

.statsTable tbody tr td
{
    padding: 2px;
    vertical-align: top;
}

.statsTable tbody tr td.textField
{
    padding: 2px;
}



/* File Attachment Containers */

#attachmentsList
{
    font-size: 9pt;
}

.PendingFileAttachmentItemContainer
{
    background-color: #FFC862;
    border: solid 1px #666666;
    list-style: none;
   
}

.FileAttachmentItemContainer
{
    border: solid 1px #666666;
    background-color: #CCFFCC;
    list-style: none;
   
}

.FileAttachmentItemContainer label, .PendingFileAttachmentItemContainer label
{
    display: inline;
}


/* TicketEditor */
.historyArea
{
    border-collapse: collapse;
    margin: 10px;
    width: 98%;
}

.activityHistoryItemWrapper
{
    border: solid 1px #B3CBDF;
}

.commentHeader
{
    color: #134A8A;
    padding: 2px 2px 2px 5px;
}
.myComment
{
    background-color: #ECFBEA;
}

.staffComment
{
    background-color: #FFFFDD;
}

.userComment
{
    background-color: #E1EBF2;
}

.commentDisplayName
{
    font-weight: bold;
}
.commentDate
{
    color: #666;
    font-size: 9pt;
    margin-left: 25px;
}
.commentBody
{
    padding-left: 25px;
    border-top: solid 1px #B3CBDF;
}


.commentContainer
{
    min-height: 145px;
}

.activityFieldsContainer
{
    padding: 3px 3px 5px 3px;
}

.activityFieldsContainer label
{
    padding-top: 5px;
}

.activityFieldsContainer input
{
    padding: 0;
}

.fieldSubText
{
    font-size: 9pt;
    color: #999;
    margin-left: 25px;
}


div.ticketDetailsHeaderOuter
{
    margin-top: 0px;
}
div.ticketDetailsHeaderInner
{
    color: #0B294F;
    border-bottom: 1px solid #B3CBDF;
}


.ticketDetailsTopper
{
    margin-left: 20px;
    background-color: #ECFBEA;
    min-height: 100px;
}

ticketDetailsExtraInfo
{
    
}

.ticketDetailsHeader
{
    min-height:50px;
    
}

.ticketDetailsHeaderId
{
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    padding: 3px;
}
.ticketDetailsHeaderPriority
{
    padding: 3px;
    float: right;
    margin-right: 15px;
}

.ticketDetailsHeaderTitle
{
    font-size: 10pt;
    padding: 3px 3px 3px 20px;
    color: #444;
    min-height: 25px;
}
.ticketDetailsHeaderInfo
{
    background-color: #FBFCFD;
    border-top: 1px solid #B3CBDF;
    font-size: 9pt;
    padding: 3px;
    min-height:38px;
}


.ticketStatsBody
{
     background-color: #FBFCFD;
    font-size: 9pt;
    padding: 3px;
    
}
.ticketDetailsHeaderInfoLabel
{
    color: #444;
    width: 75px;
    text-align: right;
}
.ticketDetailsHeaderInfoText
{
   
}

.ticketDetailsHeaderAssignedTo
{
    font-weight: bold;
}

.ticketDetailsHeaderTagsArea
{
    color: #444;
    float: right;
    margin-right: 15px;
}

div.ticketDetailsOuter
{
    background-color: #fff;
    padding-bottom: 0px;
}
div.ticketDetailsInner
{
}

#detailsArea
{
    margin-right: 300px;
    border-right: 2px solid #B3CBDF;
}
.detailsTextWrapper
{
    overflow: auto;
}

#detailsText
{
    padding: 8px;
}

.displayHeaderSideBar
{
    width: 300px;
    float: right;
}


.statusFlag
{
    float: left;
    min-height: 100px;
    width: 20px;
    border-right: solid 1px #B3CBDF;
}
.unassignedFlag
{
    background-color: #fff600;
}
.activeFlag
{
    background-color: #134A8A;
}

.moreinfoFlag
{
    background-color: #842212;
}

.resolvedFlag
{
    background-color: #ED9017;
}

.closedFlag
{
    background-color: #8A8989;
}


.searchDisplayContainerOuter
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #B3CBDF;
}
.searchDisplayContainerInner
{
    width: 100%;
    background-color: #fff;
    border: solid 2px #B3CBDF;
}

.adminItemContainer
{
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 55px;
    padding-top: 35px;
    width: 100%;
    height: 50px;
}
.adminItemContainer.elmahLogs
{
    background-image: url('logs.png');
}
.adminItemContainer.applicationSettings
{
    background-image: url('settings.png');
}

.adminItemContainer.securitySettings
{
    background-image: url('security.png');
}

.adminItemContainer.userSettings
{
    background-image: url('users.png');
}
.adminItemContainer.roleSettings
{
    background-image: url('roles.png');
}
.adminItemContainer.emailSettings
{
    background-image: url('email.png');
}
