/* preview style examples */
body {
	background-color:#EFEFEF;
	font:70% Verdana, Arial, Helvetica, sans-serif;
}

code
{
    font-family: Courier New,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono;
   
}
pre
{
    padding:10px;
    background-color: #FFFFCC;

}