@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>loginform</title>
</head>
<body>
    <section style="display:none;">
        @using (Html.BeginForm("", "api/useraccount/logindummy", FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <button type="submit" id="loginbutton">Login</button>

            <input  id="username" name="username" type="text" />

            <input  id="password" name="password" type="password" />

        }
    </section>

</body>
</html>
