<div id="about">
    <div class="row">
        <div class="col-lg-6">
            <div class="about-content well">
                <h1><i class="fa fa-cloud"></i>    That is TicketDesk?</h1>
                <p class="lead">TicketDesk is a modern help desk issue tracker designed primarily for use by IT Help Desks and similar IT support organizations.</p>     
            </div>                                                
                                   
        </div>
        <div class="col-lg-6">
            <div class="about-content well">
                <h1><i class="fa fa-cloud"></i>    Where can you find more information?</h1>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/StephenRedd/TicketDesk" target="_blank"><i class="fa fa-github"></i>    Github</a></li>
                    <li><a href="https://reddnet.net" target="_blank"><i class="fa fa-book"></i>    TicketDesk Dev Diary</a></li>
                    <li><a href="https://ticketdesk.codeplex.com" target="_blank"><i class="fa fa-cloud"></i>    CodePlex</a></li>

                </ul>                                            
            </div>        
                          
        </div>            
    </div>
</div>