<div id="index">

    <div id="featured" class="jumbotron" style="padding: 5px;">
        <div class="container">
            <h1 data-i18n="appuitext:viewHomeTitle"></h1>
            <p class="text-muted"></p>
            <div class="pull-right"><a class="btn btn-github" href="https://github.com/StephenRedd/TicketDesk"><i class="fa fa-github"></i> | Fork me on GitHub</a></div>
        </div>
    </div>

    <div class="container" data-i18n="[html]appuitext:viewHomeContent">

    </div>
    <hr class="container" />
   
</div>