<section id="tickets-view" class="container">
    <header class="page-header">
        <a class="btn btn-sm btn-primary pull-right"
           data-bind="click: refresh" href="#"><i class="icon-refresh"></i>&nbsp;<span data-i18n="appuitext:generalRefresh" /></a>
        <h1 data-bind="text: title"></h1>

    </header>
    <div>
        <nav class="well well-sm">
            <ul class="pager pagination pagination-sm col-md-12" style="display: block; margin: 0;">
                <li class="previous" data-bind="css: { disabled: !canPrev() }">
                    <a href="#" data-bind="click: previous, clickBubble: false"><i class="icon-chevron-left"></i>&nbsp;<span data-i18n="appuitext:pagerPrevious" /></a>
                </li>
                <li>
                    <small>
                        <i data-i18n="appuitext:pagerPage" />
                        <!--ko text: currentPage -->
                        <!--/ko-->
                        <i data-i18n="appuitext:pagerOf" />
                        <!--ko text: maxPage -->
                        <!--/ko-->
                        (<!-- ko text: rowCount --><!--/ko-->
                        <i data-i18n="appuitext:pagerTotalTickets" />)
                    </small>
                </li>
                <li class="next" data-bind="css: { disabled: !canNext() }">
                    <a href="#" data-bind="click: next, clickBubble: false"><span data-i18n="appuitext:pagerNext" />&nbsp;<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
        <section class="view-list" data-bind="template: { foreach: tickets, beforeRemove: hideTicketElement, afterAdd: showTicketElement, afterRender: ticketItemsRendered }">
            <!--ko if: $index() != 0--><hr /><!--/ko-->
            <article class="ticket-brief" title="Go to ticket details" data-bind="ticketChanged: lastUpdateDate">
                <header class="row">
                    <div class="col-md-7">
                        <h4>
                            <span data-i18n="appmodeltext:ticketTicketId" />
                            <!--ko text: ticketId -->
                            <!--/ko-->
                            <!--ko text:  $.i18n.t('appmodeltext:category' + category()) -->
                            <!--/ko-->
                            <!--ko text:  $.i18n.t('appmodeltext:ticketType' + ticketType())  -->
                            <!--/ko-->
                        </h4>
                        <h5>
                            <!--ko text: title -->
                            <!--/ko-->
                        </h5>
                        <address>
                            <div>
                                <span data-i18n="appmodeltext:ticketOwner" />

                                <!--ko text: owner || 'none' -->
                                <!--/ko-->
                            </div>
                            <div>
                                <span data-i18n="appmodeltext:ticketAssignedTo" />
                                <!--ko text: assignedTo() || 'unassigned' -->
                                <!--/ko-->
                            </div>
                        </address>

                    </div>
                    <div class="col-md-5">
                        <div>
                            <small>
                                <!--ko text: $.i18n.t('appmodeltext:ticketStatus' + ticketStatus()) -->
                                <!--/ko-->
                                -
                                <!--ko text: $.i18n.t('appmodeltext:priority' + priority()) -->
                                <!--/ko-->
                                <span data-i18n="appmodeltext:ticketPriority" />
                            </small>
                        </div>
                        <div>
                            <small>
                                <!--ko text: createdCombined -->
                                <!--/ko-->
                            </small>
                        </div>
                        <div>
                            <small>
                                <!--ko text: lastUpdatedCombined -->
                                <!--/ko-->
                            </small>
                        </div>
                    </div>
                </header>
            </article>

        </section>
    </div>



</section>
