@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (https://github.com/stephenredd)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@
@model TicketDesk.Web.Client.Models.SystemInfoViewModel

<div class="panel panel-default">
    <div class="panel-heading">Azure Info</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">Azure WebSite</div>
            <div class="col-sm-8">@Model.AzureInfo.AzureWebSiteName</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Azure Search</div>
            <div class="col-sm-8">@Model.AzureInfo.AzureSearchService</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Azure Storage</div>
            <div class="col-sm-8">@Model.AzureInfo.AzureStorageService</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Azure SQL</div>
            <div class="col-sm-8">@Model.AzureInfo.AzureSqlService</div>
        </div>
        
    </div>
</div>

