@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (https://github.com/stephenredd)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@
@model TicketDesk.Web.Client.Models.SystemInfoViewModel
<div class="panel panel-default">
    <div class="panel-heading">Upgrade Legacy Database</div>
    <div class="panel-body">

        <p>
            TicketDesk has detected an existing database for TicketDesk version 2.1x.
        </p>
        <p class="alert alert-danger">
            This cannot be undone! Please make sure you have a database backup.
        </p>
        <p>
            Would you like to Upgrade this database for use with TicketDesk 2.5?
        </p>
        @Html.ActionLink("Upgrade Database", "UpgradeDatabase", null, new { @class = "btn btn-primary" })

    </div>
</div>

