@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (https://github.com/stephenredd)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@
@model TicketDesk.Web.Client.Models.SystemInfoViewModel
<div class="panel panel-success">
    <div class="panel-heading">Setup Complete</div>
    <div class="panel-body">
        <p>
            Your TicketDesk instance appears to be all setup and ready to use.
        </p>
        <p class="alert alert-danger">
            For your security, please disable this first-run-setup utility.<br /><br />
            <span class="text-info">
                Open web.config from the root of the application in a text editor. Locate the &lt;appSettings&gt; section, then change the value of ticketdesk:SetupEnabled to false. If runing as an Azure WebSite, you can also set this value in your website settings with the online Azure Management Portal.
            </span>
        </p>
        
        @Html.ActionLink("Go to TicketDesk", "Index", "Home", null, new {@class = "btn btn-success"})


    </div>

</div>

