@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@




@section title
{
     Search Manager
}
<div class="contentContainer">
    <h2>Manage Search</h2>
    <p>
        

    </p>
    <div>@Html.ActionLink("Remove Search Index", "RemoveIndex")</div>
    <p>
        @if (ViewBag.IndexRemoved ?? false)
        {
            <span>Removed</span>
        }

    </p>
   
    <div>@Html.ActionLink("Populate Search Index", "PopulateIndex")</div>
    <p>
        @if (ViewBag.IndexPopulated ?? false)
        {
            <span>Populated</span>
        }

    </p>
</div>
