@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@section title{ About }
@section customHeader{}
@section scripts{}

<main role="main" class="row">
    <article class="col-md-8">
        <header>
            <h2>About TicketDesk 2.5</h2>
        </header>
        <p>
            <a href="http://ticketdesk.codeplex.com">TicketDesk 2.5</a> is an open source project
            hosted on <a href="http://codeplex.com">CodePlex</a>.
        </p>
        <p>
            TicketDesk is designed to be a fully functional yet simplistic web based issue tracking system
            with a focus on promoting frictionless communication between the help desk and
            end-users. TicketDesk is designed primarily for internal use within a single organization.
        </p>

        <p>
            TicketDesk 2.5 has been developed on the following technology stack:
        </p>
        <ul>
            <li>Asp.net MVC Framework 5.1 on .NET 4.5.1</li>
            <li>Entity Framework 6</li>
            <li>Bootstrap 3</li>
            <li>Aspnet.Identity Framework</li>
            <li>SQL 2008 or higher <span class="small">(Compatible with all editions including Azure SQL, Express, LocalDb and Full SQL editions)</span>.</li>
        </ul>
    </article>
    
</main>
