@section title{ TicketDesk }
@section customHeader{}
@section scripts{}

<main role="main" class="row">
    <article class="col-md-8 left-side-box">
        <h2>Welcome to TicketDesk 2.5 <span class="small">(alpha)</span></h2>

        <p class="alert alert-danger">
            Legacy DB Upgrades are supported. Feel free to test this, but please do not upgrade your production TD 2.1 database without a backup.
        </p>
        <p class="alert alert-info">
            I'm in the process of porting in the new UI bits, and am refactoring the back-end as I go.
            The ticket center and new tickets are largely complete. I'm working on the main ticket viewer/editor now. <br /><br />Admin tools have not been implemented yet.
        </p>

        <div class="well well-sm">
            @if (!string.IsNullOrEmpty(Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME")))
            {
                <h3>Congratulations! You appear to be running in Azure.</h3>
            }
            <h3>Logins:</h3>
            <p>
                Login with one of the following:
                <ul>admin@example.com</ul>
                <ul>staff@example.com</ul>
                <ul>user@example.com</ul>
                Password is "123456" for all three users.
            </p>
            @*@Html.ActionLink("Create Search Index", "Indexer");*@

        </div>
    </article>
    <aside class="col-md-4 right-side-box">
        <h3>TD 2.5 Change List</h3>
        <strong>Technology Update</strong>
        <ul>
            <li>Entity Framework 6x code-first</li>
            <li>MVC 5x - Razor View Engine</li>
            <li>Bootstrap 3</li>
            <li>Simple Injector (IoC / DI)</li>
            <li>Aspnet.Identity 2.x</li>
            <li>
                Deployable to Azure
                <ul>
                    <li>Azure WebSite</li>
                    <li>Azure Storage</li>
                    <li>Azure Search Services</li>
                    <li>Azure SQL</li>
                </ul>
            </li>
        </ul>
        <strong>Ad-Hoc Admin Tools</strong>
        <p class="small">These will be replaced with real admin tools soon</p>
        <ul>
            <li>@Html.ActionLink("Demo Data Manager Page", "Demo", "DataManagement", new { area = "Initialization" }, null) </li>
            <li>@Html.ActionLink("Search Index Manager Page", "Index", "SearchManager", new { area = "Admin" }, null)</li>
        </ul>
    </aside>
</main>
