@*
    TicketDesk - Attribution notice
    Contributor(s):

         Stephen Redd (stephen@reddnet.net, http://www.reddnet.net)

    This file is distributed under the terms of the Microsoft Public
    License (Ms-PL). See http://opensource.org/licenses/MS-PL
    for the complete terms of use.

    For any distribution that contains code from this file, this notice of
    attribution must remain intact, and a copy of the license must be
    provided to the recipient.
*@

@section title{ TicketDesk }
@section customHeader{}
@section scripts{}

<main role="main" class="row">
    <article class="col-md-8 left-side-box">
        <h2>Welcome to TicketDesk 2.5 <span class="small">(alpha)</span></h2>

        <p class="alert alert-danger">
            Legacy DB Upgrades are supported. Feel free to test feature, but please do not upgrade a production TD 2.1 database without a reliable backup.
        </p>
        <p class="alert alert-info">
            The ticket center and new tickets are largely complete. <br /><br />The current focus is on push notificaitons (email) and Azure support.
        </p>

        <div class="well well-sm">
            @if (!string.IsNullOrEmpty(Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME")))
            {
                <h3>Congratulations! You appear to be running in Azure.</h3>
            }
            <h3>Logins:</h3>
            <p>
                Login with one of the following:
                <ul>admin@example.com</ul>
                <ul>staff@example.com</ul>
                <ul>user@example.com</ul>
                Password is "123456" for all three users.
            </p>
            @*@Html.ActionLink("Create Search Index", "Indexer");*@

        </div>
    </article>
    <aside class="col-md-4 right-side-box">
        <h3>TD 2.5 Change List</h3>
        <strong>Technology Update</strong>
        <ul>
            <li>Entity Framework 6x code-first</li>
            <li>MVC 5x - Razor View Engine</li>
            <li>Bootstrap 3</li>
            <li>Simple Injector (IoC / DI)</li>
            <li>Aspnet.Identity 2.x</li>
            <li>
                Deployable to Azure
                <ul>
                    <li>Azure WebSite</li>
                    <li>Azure Storage</li>
                    <li>Azure Search Services</li>
                    <li>Azure SQL</li>
                </ul>
            </li>
        </ul>
    </aside>
</main>
