@section title{ TicketDesk }
@section customHeader{}
@section scripts{}

<main role="main" class="row">
    <article class="col-md-8">
        <h2>Welcome to TicketDesk 2.5</h2>
        <p>
            Currently this is just an alpha build. The back-end components are being re-factored, so there isn't much of a UI to see yet. Once the back-end framework is stabalized, I'll port the front end UI over to the new platform.
        </p>
        <p>
            The UI parts that are present will change and improve. The application is using the stock user login and user managment screens that ship with the asp.net samples framework while I work out the back-end customizations needed for TicketDesk's particular security system. The database management tooling is also working, but the UI for it is a bare-bones placeholder --good enough to test the back-end functions, but certainly not pretty.
        </p>
    </article>
    <aside class="col-md-4 right-side-box">
        <h3>TD 2.5 Change List</h3>
        <strong>Technology Update</strong>
        <ul>
            <li>Entity Framework 6x code-first (in progress)</li>
            <li>MVC 5x - Razor View Engine</li>
            <li>Bootstrap 3</li>
            <li>StucureMap IoC (not implemented yet)</li>
            <li>Aspnet.Identity 2.x  (in progress)</li>
            <li>Deployable to Azure Websites (in progress)</li>
        </ul>
    </aside>
</main>
