@section title{ TicketDesk }
@section customHeader{}
@section scripts{}

<main role="main" class="row">
    <article class="col-md-8">
        <h2>Welcome to TicketDesk 2.5</h2>
        <p>
            Currently this is just an alpha build.
        </p>
        <p class="alert-danger">
            Do not use this to upgrade a production TD 2.1 system.
            You will NOT like the results...
        </p>
        <p>
            I'm in the process of porting in the new UI bits, and am refactoring the back-end as I go.
            The ticket center is largely complete, though performance tweaks and back-end settings are still in progress.
            There are some very interesting changes in how list settings are managed, as well as in how ESQL queries are being generated to drive the ticket center.
        </p>
        <div class="panel">
            <h3>Logins:</h3>
            <p>
                Login with one of the following:
                <ul>admin@example.com</ul>
                <ul>staff@example.com</ul>
                <ul>user@example.com</ul>
                Password is "123456" for all three users.
            </p>
            @*@Html.ActionLink("Create Search Index", "Indexer");*@
           
        </div>
    </article>
    <aside class="col-md-4 right-side-box">
        <h3>TD 2.5 Change List</h3>
        <strong>Technology Update</strong>
        <ul>
            <li>Entity Framework 6x code-first</li>
            <li>MVC 5x - Razor View Engine</li>
            <li>Bootstrap 3</li>
            <li>Simple Injector (IoC / DI)</li>
            <li>Aspnet.Identity 2.x</li>
            <li>Deployable to Azure Websites</li>
        </ul>
    </aside>
</main>
