/* #region HTML RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video {
    font: inherit;
    margin: 0;
}

/* #endregion */


.ticket-brief p, .ticket-brief ul {
    font-size: 14px;
}

html {
    padding: 0;
    color: black;
    background: #EFEFEF;
}

body {
    font-size: 16px;
    margin: 0 auto;
    max-width: 1100px;
    background-color: transparent;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    /*text-transform: uppercase;*/
    letter-spacing: -1px !important;
    color: #555;
}

section.main {
    margin-top: 70px;
    margin-bottom: 80px;
}

.navbar .brand {
    /*padding: 6px 10px 12px 10px;*/
    margin-bottom: -8px;
    height: 48px;
}

h2.page-title {
    font-size: 32px;
}

.brand .title, .brand .title-es {
    float: left;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 145%;
    font-weight: 900;
    letter-spacing: -2px;
    padding-left: 15px;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    /*text-transform: uppercase;*/
    text-transform: initial;
    text-decoration: none;
    color: #0081C2;
}

span.title {
    background: url(/content/images/ticketdesk3logo.png) no-repeat left center;
    min-width: 240px;
    min-height: 50px;
    /*-moz-background-size: 45px;
        -o-background-size: 45px;
        -webkit-background-size: 45px;
        background-size: 45px;*/
}

span.title-es {
    background: url(/content/images/ticketdesk3logo-es.png) no-repeat left center;
    min-width: 240px;
    min-height: 50px;
}

.page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    /*font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-family: monospace;
    color: #F58A00;
    padding: 0;
}

.page-progress-bar {
    margin: 10% 30% 0 30%;
}

.toast {
    font-weight: normal;
}

.toast-info {
    background-color: #194D7B;
}

.toast-bottom-right {
    bottom: 50px;
}



footer a {
    font-weight: bold;
}

footer span {
    padding: 10px 80px;
    font-size: 18px;
}

/***************************/
/* Boostrap overrides      */



.loader .page-progress-bar {
    margin: 14px 0 0 0;
}

.loader {
    visibility: hidden;
}

    .loader.active {
        visibility: visible;
    }

.btn {
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}

.btn-info {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: #0081C2;
        *background-color: #0081C2;
        /*background-color: #194D7B;*/
        /**background-color: #194D7B;*/
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #0081C2 \9;
        /*background-color: #194D7B \9;*/
    }



/* End Boostrap overrides  */
/***************************/




/***************************/
/* Begin from jpapa              */






.article-left-content {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px rgba(255,255,255,.8);
    min-height: 100px;
    padding: 8px;
}

.article-container-full-width {
    margin: 6px;
    float: left;
    width: 110px;
    height: 140px;
    border-bottom: solid 0 transparent;
    padding: 1.5% .5%;
}

.button-bar {
    display: inline-block;
    margin: 0 0 1em 1em;
}

.view-list {
    margin-top: 1%;
    width: 100%;
}

    .view-list > article {
     
        background-color: transparent;
        background-image: none;
        border-color: transparent;
    }

        .view-list > article:hover {
            cursor: pointer;
            color: white;
            background-color: #0081C2;
            background-image: -moz-linear-gradient(top,#59C0F3,#0081C2);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#59C0F3),to(#0081C2));
            background-image: -webkit-linear-gradient(top,#59C0F3,#0081C2);
            background-image: -o-linear-gradient(top,#59C0F3,#0081C2);
            background-image: linear-gradient(to bottom,#59C0F3,#0081C2);
            background-repeat: repeat-x;
            border-color: #59C0F3 #0081C2 #194D7B;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        }

            .view-list > article:hover small,
            .view-list > article:hover address,
            .view-list > article:hover h1,
            .view-list > article:hover h2 {
                color: white;
            }

            .view-list > article:hover .muted {
                color: #ccc;
            }

        .view-list > article h1 {
            font-size: 120%;
            line-height: 120%;
        }

        .view-list > article > div > img {
            height: 90px;
            float: left;
            margin-right: 4%;
        }

        .view-list > article > div > time {
            font-family: "Segoe UI", Arial, Helvetica, sans-serif;
            font-weight: bold;
            float: right;
            margin-left: 2%;
            text-transform: uppercase;
        }

        .view-list > article > div > address {
            font-family: "Segoe UI", Arial, Helvetica, sans-serif;
            font-size: 95%;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }

    .view-list > .article-container-full-width img {
        float: none;
        display: block;
        margin: auto;
    }

    .view-list > .article-container-full-width address {
        text-align: center;
    }

.btn-force-refresh {
    float: right;
    margin-right: 1em;
}

div.article-counter {
    margin-left: 15px;
    font-size: 18px;
    color: rgb(150, 150, 150);
}

    div.article-counter > address {
        display: inline-block;
        vertical-align: middle;
    }



/*.titleblock
{
    float: left;
    clear: both;
    width: 520px;
}

    .titleblock > label
    {
        float: left;
        clear: both;
        display: block;
        margin-bottom: 2%;
        width: 100px;
    }

    .titleblock > input
    {
        width: 400px;
        margin-bottom: 2%;
    }

    .titleblock > h1
    {
        color: white;
        font-size: 130%;
        margin-bottom: 1%;
        font-weight: bold;
    }*/

/*.details-left
{
    float: left;
    width: 260px;
    clear: both;
}

    .details-left label
    {
        clear: both;
        display: block;
        float: left;
        width: 100px;
    }

    .details-left select,
    .details-left label
    {
        margin-bottom: 2%;
    }

    .details-left input
    {
        width: 140px;
        margin-bottom: 2%;
    }

    .details-left select
    {
        width: 150px;
    }

    .details-left img
    {
        height: 60px;
        margin: 0 18px;
        float: left;
    }

    .details-left div address
    {
        height: 25px;
        margin-bottom: 2%;
    }

    .details-left div a
    {
        height: 25px;
        margin-left: 100px;
        margin-bottom: 2%;
        display: block;
    }

.details-right
{
    float: left;
    margin-left: 0;
    margin-top: 1%;
    clear: both;
}

    .details-right label
    {
        display: block;
        clear: both;
    }

    .details-right textarea,
    span.scrollable-text
    {
        font-family: 'Segoe UI Light', 'Segoe UI';
        height: 100px;
        width: 230px;
        float: left;
        overflow-y: scroll;
        margin-bottom: 6px;
    }*/

/* End from jpapa              */
/***************************/

@media only screen and (max-width: 979px) {
    .page-splash-message {
        font-size: 150%;
    }
}

@media (max-width: 979px) {
    section.main {
        margin-top: 0;
        margin-bottom: 80px;
    }
}
