@import url('//fonts.googleapis.com/css?family=Open+Sans:300,500');


.navbar-brand {
    padding: 0;
    margin: 10px 15px 10px 0;
    min-width: 150px;
    height: 30px;
    display: inline-block;
}
.navbar-brand.title {
    background: url(/content/images/ticketdesk3logo.png) no-repeat left center;
}

.navbar-brand.title-es {
    background: url(/content/images/ticketdesk3logo-es.png) no-repeat left center;
}


.page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    /*font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-family: monospace;
    color: #5AAD6B;
    padding: 0;
}

/* knockout Validation */

.validationMessage {
    display: block;
    margin-top: 1%;
    color: rgb(219, 32, 32);
}

/* Durandal */

.splash {
    text-align: center;
    margin: 0;
    opacity: 0.8;
    color: #FFF;
    height: 100em;
}

    .splash .message {
        padding-top: 10%;
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    }

    .splash .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        margin-top: 50px;
    }

@media (max-width: 768px) {
    .splash .message {
        font-size: 2.5em;
    }

    .splash .fa-spinner {
        font-size: 3.5em;
    }
}




.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

    .loader.active {
        visibility: visible;
    }

/* General CSS */

body {
    overflow-x: hidden;
    padding-top: 40px;
}

.padt15px {
    padding-top: 15px;
}

.mart0 {
    margin-top: 0;
}

.mart2 {
    margin-top: 2%;
}

.mart5 {
    margin-top: 5%;
}

.auto-height-textarea {
    resize: vertical;
    overflow-y: hidden; /* prevents scroll bar flash */
    padding-top: 1.1em; /* prevents text jump on Enter keypress */
}

.h-vcenter-parent {
    display: table;
}

.h-vcenter-child {
    display: table-cell;
    vertical-align: middle;
}

.prewrap {
    white-space: pre-wrap;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

/* Header */

#sharebar {
    margin-right: 5px;
}

    #sharebar i {
        font-size: 1.3em;
    }

@media (min-width: 768px) {
    #sharebar i {
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@media (max-width: 767px) {
    #sharebar span {
        display: inline !important;
    }
}

/* Index */

#index #featured {
    /*margin-top: -30px;*/
}

/* Articles */

#articles {
    margin-top: -30px;
}

    #articles .st-offcanvas {
        opacity: 0;
    }

    #articles .st-offcanvas-menu {
        padding: 2% 2% 30em 2%;
    }

    #articles .st-offcanvas-main {
        padding: 0 2% 0 2%;
    }

        #articles .st-offcanvas-main:before {
            padding-bottom: 100em;
            -webkit-box-shadow: -2px -8px 8px #999 inset;
            box-shadow: -2px -8px 8px #999 inset;
        }

    #articles .offcanvas-buttons {
        margin: 0 -2% 0 -2.5%;
        padding: 5px;
    }

    #articles .showmenubutton {
        float: left;
        text-decoration: none;
        font-size: 2em;
        display: block;
        color: #FFF;
        padding-left: 10px;
        padding-right: 10px;
    }

        #articles .showmenubutton:hover {
            opacity: 0.6;
        }

@media (min-width: 768px) {
    #articles .offcanvas-buttons {
        display: none;
    }
}



/* About */

#about {
    padding: 2%;
}

    #about h1 {
        color: #555;
    }

.about-content {
    padding: 4%;
    color: #555;
    min-height: 250px;
    margin-top: 10px;
    background: #eeeeee;
}

    .about-content p {
        margin-top: 5%;
    }

    .about-content li {
        margin-top: 2%;
    }

    .about-content a {
        font-size: 1.5em;
        color: #555;
    }

/* Footer */

footer {
    max-width: 100%;
    background-color: #444444;
    color: #FFF;
    display: none;
    overflow-x: hidden;
}

.footer-content {
    padding: 3%;
    color: #FFF;
}

footer li {
    line-height: 2em;
}

    footer li a {
        font-size: 1.5em;
    }

footer a {
    color: #eee;
}

    footer a:hover {
        color: #FFF;
    }


/* Bootstrap overrides */

.well-danger {
    background: rgb(233, 29, 29);
    border: rgb(233, 29, 29);
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px;
}

.label {
    font-size: 1em !important;
}

@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .brand {
        margin-left: 10px !important;
    }
}

/* Stashy overrides */

@media (max-width: 768px) {
    .st-loader span[class*="l-"] {
        width: 5px;
        height: 5px;
    }
}
