@using TicketDesk.Domain
@using TicketDesk.Domain.Model
@model TicketActivity

@{
    var activities = Model.GetFlags().Where(f => ((TicketActivity)f) != TicketActivity.None);//exclude the none actiity
    foreach (var activity in activities)
    {
        var clickHandler = string.Format("window.editTicket.loadActivity('{0}');", activity);
        <button type="button" data-ticket-activity="@activity.ToString()" class="btn btn-default" onclick="@clickHandler">@activity.GetDescription()</button>
    }
}
