@model TicketDesk.Domain.Model.Ticket
<div class="panel-heading">
    <div class="btn-toolbar" role="toolbar">
        <div id="activityButtonsPanel">
            @Html.Action("ActivityButtons", "TicketActivity", new { ticketId = Model.TicketId, area = "" })
        </div>
    </div>
</div>
<div class="" id="activityPanel">
</div>