@model TicketDesk.Domain.Model.TicketComment
@{
    var ajaxOptions = new AjaxOptions {UpdateTargetId = "activityPanel", OnBegin = "editTicket.beginActivity", OnSuccess = "editTicket.completeActivity", OnFailure = "editTicket.completeActivity"};
}
@using (Ajax.BeginForm("AddComment", "TicketActivity", new { area = "" }, ajaxOptions, new { @class = "form-horizontal" }))
{
    <div class=" form-group-sm">
        <label class="col-md-1 col-sm-1 control-label text-right" for="wmd-input-activity">Comment</label>
        <div class="col-md-6 col-sm-10 wmd-panel">
            <div class="tabbable tabs-below">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div id="wmd-button-bar-activity" class="" style="display: inline-block"></div>
                        @Html.TextAreaFor(model => model.Comment, new { id = "wmd-input-activity", @class = "wmd-input form-control", style = "height:150px" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="row" style="min-height: 35px;"></div>

                        <div id="wmd-preview-activity" class="wmd-panel wmd-preview form-control">

                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs navbar-right">
                    <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-edit"></i>&nbsp;Edit</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-eye"></i>&nbsp;Preview</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group-sm col-sm-12">
        <button type="submit" class="btn btn-success">Add Coment</button>
    </div>
}