@using TicketDesk.Domain.Model
@model  Ticket
@{
    var ajaxOptions = new AjaxOptions {UpdateTargetId = "activityPanel", OnBegin = "editTicket.beginActivity", OnSuccess = "editTicket.completeActivity", OnFailure = "editTicket.failActivity"};
}
@using (Ajax.BeginForm("AddComment", "TicketActivity", new {ticketId = Model.TicketId, area = "" }, ajaxOptions, new { @class = "form-horizontal" }))
{
    @Html.Partial("_ActivityComment", new TicketEvent())
    <div class="form-group-sm col-sm-12">
        <button type="submit" class="btn btn-success" tabindex="25">Add Coment</button>&nbsp;<a href="#" onclick="editTicket.cancelActivity();">Cancel</a>
    </div>
}