<div class="form-group">
    <label class="col-md-2 col-sm-1 control-label">Files</label>
    <div class="col-md-8 col-sm-11">
        <div class="dropzone" style="min-height: 60px;" id="attachmentsDropZone">
            <span class="dz-message" data-dz-message><i class="fa fa-download fa-3x"></i> Drop attachments here, or click to select files.</span>
        </div>
    </div>
</div>
