@using TicketDesk.Domain.Model
@model  Ticket
<div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-9">
        <label class="checkbox-inline" for="reactivate">
            <input class="" name="reactivate" type="checkbox" checked id="reactivate" tabindex="1" value="true" />
            Reactivate Ticket
        </label>
        <div class="small " style="text-indent: 2em;">
            <em>
                Uncheck this to supply information without changing the ticket's status.
            </em>
        </div>
    </div>
</div>
